#pos input { width: 10ch }

#block img {
    width: 300px;
    position: absolute;
    margin-top: 4px;
}

#block-state-add {
    position: relative;
    left: 60px;
}

#block-state-table { margin-top: 10px }

#block-state-table tbody input { width: 14ch }