body {
    margin: 20px;
    user-select: none;
    cursor: default;
}

header {
    & h2 {
        margin-bottom: 0;
        & img {
            border-radius: 50%;
            height: 20px;
            vertical-align: sub;
        }
    }
    & p {
        margin-top: 0;
        & span {
            color: red;
        }
    }
    body:not(.command-page) & {
        text-align: center;
        & h2 span {
            color: red;
        }
    }
}

.left-menu {
    float: left;
    background: rgb(203, 203, 203);
    padding: 0;
    border-radius: 10px;
    padding-block: 20px;
    margin: 0 30px 0 0;

    & li {
        user-select: none;
        cursor: pointer;
        text-align: center;
        padding-inline: 50px;
        padding-block: 10px;
        max-width: 7ch;
        &:hover,
        &[data-selected] { background: rgba(0, 0, 0, 0.3) }

        &:active { background: rgba(0, 0, 0, 0.4) }
    }
}

a {
    color: gray;
    cursor: pointer;
    text-decoration: none;
}

footer {
    position: fixed;
    text-align: center;
    border-top: 3px solid rgb(73, 73, 73);
    background: rgb(164, 164, 164);
    inset: auto 0 0; 
    padding-block: 13px;
    user-select: text;
    cursor: auto;
}

button { cursor: pointer }

:disabled { cursor: not-allowed }

.no-prefix-list li::marker { content: none }

.can-select-texts {
    cursor: text;
    user-select: text;
}

.image { cursor: zoom-in }

dialog {
    user-select: none;
    border-style: none;
    border-radius: 10px;
    transform: translateY(-70px);

    &::backdrop { background: rgba(0, 0, 0, 0.4) }
}

.wrong::after {
    content: '×';
    color: red;
}

.right::after {
    content: '√';
    color: green;
}

#contact-button {
    position: inherit;
    right: 5px;
}

table {
    border-collapse: collapse;
    & thead { font-weight: bold }
}

table, th, td {
    padding: 3px;
    border: 1px solid black;
}